# Training Instructions

### Personal history and details:
- Age, weight, height
- Started running in ..., weight lifting in ..., now mostly ...
- Competitive ... from X years old (used to 4+ training sessions a week, camps on weekends and heavy camps with daily multiphase trainings)
- Struggled with knee pain and shin splints during the peak of my first running summer in 2025
    - Up and especially down hills triggered both a lot
    - High quality warmup before and stretching after helped a lot (also keeping my knees warm in colder weather)
- Work as a ..., spending most of my day ...
- Typical diet ...
- Biggest struggle is ...

### Constraints:
- Maximum of 4–5 training days per week
- Prefer evening workouts
- Long run on weekends, not on weekdays
- Stay injury-free
- Maintain strength training at least once per week

### Preferences:
- Strong variety in workout types
- Focus on heavy workouts (VO2 Max intervals, tempo/threshold runs, etc.)

### Goals:
- Sub20 5K
    - Sport: Run
    - Goal date: 2026-06-30
    - Distance: 5 km
    - Total duration: 00:20:00
    - Notes: Would like to try for the PB before the race so that I go into the race knowing I can make it

- Bench 120 kg
    - Sport: WeightTraining
    - Goal date: N/A
